<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schedulenotification">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNA_STORAGE" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScheduleNotification">

        <service android:name=".Classes.Listener"
            android:label="block"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <activity
            android:name=".Activities.About"
            android:exported="false" />
        <activity
            android:name=".EntryScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.TimerForFocus"
            android:exported="false"
        />
        <activity
            android:name=".Activities.CalendarActivities.WeeklyCalendar"
            android:exported="false" />
        <activity
            android:name=".Activities.CalendarActivities.CreateEvent"
            android:exported="false" />
        <activity
            android:name=".Activities.CalendarActivities.CalendarView"
            android:exported="false" />
        <activity
            android:name=".Activities.CheckList"
            android:exported="false" />
        <activity
            android:name=".Activities.Camera_or_Gallery"
            android:exported="false" />
        <activity
            android:name=".Activities.Information"
            android:exported="false" />

        <receiver
            android:name=".Classes.Notification"
            android:enabled="true" />

        <activity
            android:name=".Activities.CreateMission"
            android:exported="false" />
        <activity
            android:name=".Activities.Authentication"
            android:exported="true"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>